<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <form action="/product" method="post">
        <table>
            <tr>
                <th>name</th>
                <input type="text" name="name" id="name">
            </tr>
            <tr>
                <th>Discription</th>
                <input type="text" name="desc" id="">
            </tr>
            <tr>
                <th>images url</th>
                <input type="text" name="image" id="name">
            </tr>
        </table>
    </form>
</body>
</html>